{% include 'header.html' %}
<!-- Departments Section -->
    <section id="departments" class="departments section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Departments</h2>
        <p>Categorize doctors according to their medical specialty. This is essential for patient filtering, hospital management, or scheduling appointments in specialized areas.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#departments-tab-1">Cardiology</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-2">Neurology</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-3">Hepatology</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-4">Pediatrics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-5">Ophtalmology</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="departments-tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Cardiology</h3>
                    <p class="fst-italic">The Cardiology department specializes in diagnosing, treating, and preventing diseases and disorders of the heart and blood vessels. Cardiologists manage conditions like coronary artery disease, heart failure, arrhythmias, and congenital heart defects.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="static/img/departments-1.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Neurology</h3>
                    <p class="fst-italic">The Neurology department focuses on diagnosing, treating, and managing disorders of the nervous system, including the brain, spinal cord, and nerves. Neurologists handle conditions such as stroke, epilepsy, migraine, multiple sclerosis, Parkinson’s disease, and neuropathies.
                    </p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="static/img/departments-2.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Hepatology</h3>
                    <p class="fst-italic">The Hepatology department specializes in the study, diagnosis, and treatment of liver, gallbladder, bile ducts, and pancreas disorders. Hepatologists focus on conditions affecting liver function, including hepatitis, cirrhosis, fatty liver disease, and liver cancer.
                  </p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="static/img/departments-3.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Pediatrics</h3>
                    <p class="fst-italic">The Pediatrics department specializes in the medical care of infants, children, and adolescents, focusing on their physical, emotional, and social health. Pediatricians diagnose, treat, and prevent a wide range of illnesses and conditions that affect children from birth to 18 years of age.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="static/img/departments-4.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Ophtalmology</h3>
                    <p class="fst-italic">The Eye Care department, also known as Ophthalmology, focuses on the diagnosis, treatment, and prevention of eye disorders and visual problems. Ophthalmologists provide medical and surgical care for patients of all ages to maintain healthy vision and manage eye diseases.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="static/img/departments-5.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /Departments Section -->

{% include 'footer.html' %}