{% include 'header.html' %}
<!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Our Services</h2>
        <p>We provide a wide range of healthcare services powered by AI and delivered by expert doctors, ensuring quality care, faster recovery, and patient satisfaction </p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="fas fa-heartbeat"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>AI-Powered Diagnostics</h3>
              </a>
              <p>Advanced AI tools analyze medical data to help doctors make accurate and timely diagnoses.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-pills"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>General Consultation</h3>
              </a>
              <p>Personalized consultations with our experienced doctors for all your health concerns.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-hospital-user"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3> Emergency Care</h3>
              </a>
              <p>24/7 emergency services with quick response and specialized medical attention.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-dna"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Telemedicine</h3>
              </a>
              <p>Consult with doctors from the comfort of your home through our secure online platform.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-wheelchair"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Specialized Treatments</h3>
              </a>
              <p>Departments for cardiology, neurology, orthopedics, pediatrics, and more.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-notes-medical"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3> Pharmacy & Lab Services</h3>
              </a>
              <p>In-house pharmacy and diagnostic labs for convenient, one-stop medical solutions.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->
        </div>
      </div>

    </section><!-- /Services Section -->
{% include 'footer.html' %}
